/build
/config.h
.vscode
*.dylib
/pahole
/pdwtags
/pfunct
/pglobal
/prefcnt
/scncopy
/syscse
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
/codiff
/ctracer
/dtagnames
/install_manifest.txt
