*.o
*.a
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/lib/.deps/
/lib/Makefile
/lib/Makefile.in
/lib/alloca.h
/lib/assert.h
/lib/getopt-cdefs.h
/lib/getopt.h
/lib/inttypes.h
/lib/limits.h
/lib/stddef.h
/lib/stdint.h
/lib/stdio.h
/lib/stdlib.h
/lib/string.h
/lib/strings.h
/lib/sys/
/lib/unistd.h
/lib/wchar.h
/missing
/stamp-h1
